[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymongo = "*"
ipython = "*"
pudb = "*"
pyscard = "*"
pyradamsa = "*"

[requires]
python_version = "3.6"

[scripts]
t = "python make_tables.py"
